body{
  margin:0;
  background-color: #0B2432;
  padding: 20px;
}
main{
  border-radius: 0.5rem;
  max-width: 800px;
  height:600px;
  background-color: #F5F5F5;
  box-shadow: #1b0101 6px 5px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.die-box{
  box-shadow: #201e1e 3px 3px 2px;
  border-radius: 0.45rem;
  background-color: #ffffff;
  height: 65px;
  width: 85px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.die-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr) ;
  gap: 25px;
}
.die-num{
  font-size: 35px;
}
.roll-btn{
  border-radius: 0.5rem;
  background-color: rgb(12, 12, 202);
  color: #F5F5F5;
  width: 90px;
  margin: 30px;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  box-shadow: #201e1e 3px 0.5px 3px;
}
.die-bg{
  background-color: #59E391;
}